[submodule "written/cellular_raza"]
	path = written/cellular_raza
	url = git@github.com:jonaspleyer/cellular_raza
[submodule "written/cellular_raza-homepage"]
	path = written/cellular_raza-homepage
	url = git@github.com:jonaspleyer/cellular_raza-homepage
[submodule "written/listings-rust"]
	path = written/listings-rust
	url = https://github.com/denki/listings-rust
